.idea
.vscode
/.idea
/.vscode
yarn.lock
server_config
.DS_Store
*.DS_Store
tmp
.env
go.sum
*.toml
node_modules
crud-export.json
public/uploaded
#lambda/models
#lambda/graph
#lambda/microservices
#lambda/schemas
models/form/caller
lambda/db_schema.json
