DB_CONNECTION=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DEBUG=false
#DB_SID=OraDoc

APP_NAME=LAMBDA
APP_PORT=3000
APP_MIGRATE=true
APP_SEED=true

SYSADMIN_LOGIN=superadmin
SYSADMIN_PASSWORD=superadmin
SYSADMIN_EMAIL=null

JWT_SECRET=BIzaSyBUEDlwdKQ0AZOnHOkZv2MIw0GlRjql6V4
JWT_TTL=72

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME=LAMBDA

GRAPHQL_DEBUG=true

LAMBDA_ROOT="./node_modules/@lambda-platform/lambda-builder"
