<!DOCTYPE html><html  data-capo=""><head><meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="/assets/lambda/fonts/flaticons/flaticons.css">
<link rel="stylesheet" href="/assets/lambda/fonts/themify/themify-icons.css">
<link rel="stylesheet" href="/lambda_admin/entry.BFaYTvfT.css">
<link rel="stylesheet" href="/lambda_admin/rappid.3ro6LWNg.css">
<link rel="modulepreload" as="script" crossorigin href="/lambda_admin/BNUQ0oDs.js">
<link rel="modulepreload" as="script" crossorigin href="/lambda_admin/Bb3cLOD_.js">
<link rel="modulepreload" as="script" crossorigin href="/lambda_admin/CU0CZyNU.js">
<link rel="modulepreload" as="script" crossorigin href="/lambda_admin/DTdGTy9U.js">
<link rel="modulepreload" as="script" crossorigin href="/lambda_admin/BYTvHWBW.js">
<link rel="prefetch" as="image" type="image/svg+xml" href="/lambda_admin/spritesheet.DpIxuf5L.svg">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/DkeryYLv.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/BheWnx7M.js">
<link rel="prefetch" as="style" href="/lambda_admin/SideMenu.CuG8odKk.css">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/Bh49BxFR.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/D9pa8eGj.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/BuMMHCAU.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/B3cmyR-a.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/B2prW-4H.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/InFRKpoX.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/xAo2aQ4k.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/Dt8YYo6k.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/CZjs7yJ_.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/DugTeqwv.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/2tDPZFmp.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/DFu-wc_7.js">
<link rel="prefetch" as="style" href="/lambda_admin/ol.CXXxR7sZ.css">
<link rel="prefetch" as="style" href="/lambda_admin/starter.CIaXpNdi.css">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/P9UdpuyC.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/CxU-RNSz.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/Qfm9_UtH.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/DiWpzgXQ.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/CeS5Ktbn.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/C1ks0tp4.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/CXuXpN-F.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/DtYmMrUa.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/DvHeY_U5.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/BriSPLxJ.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/B70SwgkJ.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/CUG6V1gK.js">
<link rel="prefetch" as="style" href="/lambda_admin/workflow.C8tV41dQ.css">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/D7twpuEc.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/CaJnKDNR.js">
<link rel="prefetch" as="style" href="/lambda_admin/process_status.CVtN2cVc.css">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/BRUQNQ8M.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/BG5vy2by.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/hLfeq7n-.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/DYkodIhL.js">
<link rel="prefetch" as="style" href="/lambda_admin/Datagrid.DOzidG7X.css">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/DWqfYiik.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/BscJb5-W.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/BtN75uaL.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/DRcunPOa.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/MaGFXlYl.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/CByKS65z.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/8PK6FUFr.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/CjbODFpH.js">
<link rel="prefetch" as="style" href="/lambda_admin/widget._pMbkUjp.css">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/BZBWbl51.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/BuyEVtIp.js">
<link rel="prefetch" as="style" href="/lambda_admin/error-404.CjTTbIxB.css">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/CEjSAPMj.js">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/CZalRZld.js">
<link rel="prefetch" as="style" href="/lambda_admin/error-500.B4KzowuE.css">
<link rel="prefetch" as="script" crossorigin href="/lambda_admin/DY-V3meq.js">
<meta name="charset" content="utf-8">
<meta name="url" content="{{ .Url }}">
<meta name="type" content="{{ .Type }}">
<meta name="title" content="{{ .Title }}">
<meta name="description" content="{{ .Description }}">
<meta name="image" content="{{ .Image }}">
<meta name="og:url" content="http://localhost:3131">
<meta name="og:type" content="website">
<meta name="og:title" content="Lambda">
<meta name="og:description" content="Хөгжүүлэлтээ LAMBDA-тай хамт илүү хурдан, илүү үр бүтээлтэй гүйцэтгэж, хэрэглэгчийн хэрэгцээ, шаардлагыг хугацаанд нь 100% биелүүлээрэй.">
<meta name="og:image" content="http://localhost:3131/assets/images/bg.png">
<link rel="icon" href="/assets/images/favicon.png">
<script type="module" src="/lambda_admin/BNUQ0oDs.js" crossorigin></script></head><body><div id="__nuxt"></div><div id="teleports"></div><script type="application/json" id="__NUXT_DATA__" data-ssr="false">[{"serverRendered":1},false]</script>
<script>window.__NUXT__={};window.__NUXT__.config={public:{},app:{baseURL:"/",buildId:"f6f2460e-eb60-45c7-a356-a00366d3e647",buildAssetsDir:"lambda_admin/",cdnURL:""}}</script></body></html>