.dropzone-background[data-v-e6b5654e],.overlay[data-v-e6b5654e]{height:100%;left:0;position:absolute;top:0;width:100%}.overlay[data-v-e6b5654e]{align-items:center;display:flex;justify-content:center;transition:background-color .2s ease}
